<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
    <a class="navbar-brand" href="#">entrepreware-task</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
       
        <li class="nav-item">
          <a class="nav-link" routerLink="history">History</a>
        </li>
     
        
      </ul>
      <form  [formGroup]="formNumverify" (ngSubmit)="getnumverify()" class="form-inline my-2 my-lg-0">          
       <input formControlName="numberInputSearch"  class="orm-control mr-sm-2" type="text" >  
    <button  class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    
  </form>
    </div>
</div>
  </nav>
